In [1]:
import scipy
import sklearn
import numpy as np
import pandas as pd
import os
import tarfile
import urllib
import matplotlib as mpl
import matplotlib.pyplot as plt
import math

train_data = pd.read_csv('/Users/mikhail/Downloads/titanic/train.csv')

test_data = pd.read_csv('/Users/mikhail/Downloads/titanic/test.csv')
test_data.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [ ]:
def clean_data(data):
    Sex= []
    Age = []
    
#Enumerates sex values instead of words
    for entry in data['Sex']:
        if entry == 'male':
            Sex.append(0)
        else:
            Sex.append(1)

#Drops irrelevant information and adds the Sex data which is numbers
    Sex = pd.DataFrame(Sex)
    data = data.drop('Sex',axis=1)
    data = pd.concat([data, Sex], axis = 1)
    data = data.rename(columns={0:'Sex'})
    data = data.drop('Ticket', axis=1)

#Changes age data to get rid of 0s and fill with mean
    data = data.drop('Cabin',axis=1)
    for value1 in data['Age']:
        if math.isnan(value1):
            value1 = data['Age'].mean()
            value1 = "{:.1f}".format(value1)
            Age.append(value1)
        else:
            value1 = "{:.1f}".format(value1)
            Age.append(value1)
    data = data.drop('Age', axis=1)
    Age = pd.DataFrame(Age)
    data = pd.concat([data, Age], axis=1)
    data = data.rename(columns={0:'Age'})
    
#One Hot Encodes the place of embarkment
#First we have to drop all values that are nan
    data.dropna(subset = ["Embarked"], inplace=True)
    from sklearn.preprocessing import OneHotEncoder
    cat_encoder = OneHotEncoder(sparse=False)
    embarked_data = data[['Embarked']]
    embarked_1hot = cat_encoder.fit_transform(embarked_data)
    data = np.c_[data,embarked_1hot]
    data = np.delete(data,5,1)
    data = pd.DataFrame(data, columns=['Survived','PClass','SibSp','Parch','Fare','Sex','Age','EmbarkedC','EmbarkedQ','EmbarkedS'])
    
    y_train = data['Survived']
    data = data.drop('Survived',axis=1)
    X_train = data
    
    from sklearn.preprocessing import StandardScaler
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train.astype(np.float64))
    
    
    
    return X_train, y_train

X_train, y_train = clean_data(train_data)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
param_grid = [{'n_neighbors':[3,4,5],'weights':['uniform','distance']}]
KNN = KNeighborsClassifier()
y_train=y_train.astype('int')
KNN_search = GridSearchCV(KNN, param_grid, cv=5,scoring = 'accuracy',return_train_score = True)
KNN_search.fit(X_train,y_train)
KNN_search.best_params_

{'n_neighbors': 5, 'weights': 'uniform'}

In [ ]:
def clean_cell2(data):
    Sex= []
    Age = []
    
#Enumerates sex values instead of words
    for entry in data['Sex']:
        if entry == 'male':
            Sex.append(0)
        else:
            Sex.append(1)

#Drops irrelevant information and adds the Sex data which is numbers
    Sex = pd.DataFrame(Sex)
    data = data.drop('Sex',axis=1)
    data = pd.concat([data, Sex], axis = 1)
    data = data.rename(columns={0:'Sex'})
    data = data.drop('Ticket', axis=1)

#Changes age data to get rid of 0s and fill with mean
    data = data.drop('Cabin',axis=1)
    for value1 in data['Age']:
        if math.isnan(value1):
            value1 = data['Age'].mean()
            value1 = "{:.1f}".format(value1)
            Age.append(value1)
        else:
            value1 = "{:.1f}".format(value1)
            Age.append(value1)
    data = data.drop('Age', axis=1)
    Age = pd.DataFrame(Age)
    data = pd.concat([data, Age], axis=1)
    data = data.rename(columns={0:'Age'})
    
#One Hot Encodes the place of embarkment
#First we have to drop all values that are nan
    data.dropna(subset = ["Embarked"], inplace=True)
    from sklearn.preprocessing import OneHotEncoder
    cat_encoder = OneHotEncoder(sparse=False)
    embarked_data = data[['Embarked']]
    embarked_1hot = cat_encoder.fit_transform(embarked_data)
    data = np.c_[data,embarked_1hot]
    data = np.delete(data,4,1)
    data = pd.DataFrame(data, columns=['PClass','SibSp','Parch','Fare','Sex','Age','EmbarkedC','EmbarkedQ','EmbarkedS'])
    
    X_train = data
    
    from sklearn.preprocessing import StandardScaler
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train.astype(np.float128))
    
    
    
    return X_train

In [ ]:
x_test = clean_cell2(test_data)
x_test = pd.DataFrame(x_test)
x_test = pd.read_csv('/Users/mikhail/Jupyter/x_test.csv')
results = KNN_search.predict(x_test)
results = pd.DataFrame(results)
results.to_csv('results.csv')

NameError: name 'clean_cell2' is not defined